.table {
  padding: 40px 80px;
  background-color: white;
}

.table p {
  text-align: center;
  font-weight: bold;
}

.table .title {
  font-family: Arial;
}

.table .subtitle {
  font-family: "Times New Roman", Times, serif;
  margin-top: 5px;
}

.table td {
  font-family: "Times New Roman", Times, serif;
  border: 2px solid #76b55b;
  padding: 3px;
}

.table .footer p {
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
  text-align: left;
  transform: translateX(-20px);
}

.table .footer .header {
  font-weight: bold;
}

.table .footer .subheader {
  font-weight: normal;
}

/* @media print {
  .affidavite {
    display: block;
  }
}
@media screen {
  .affidavite {
    display: none;
  }
} */

table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}
